.mainPain {
    -fx-background-image: url("../images/backgrounds/tavern.png");
    -fx-background-size: stretch;
}

.box {
    -fx-background-image: url("../images/backgrounds/box.png");
    -fx-background-size: stretch;
}

.money {
    -fx-background-image: url("../images/icons/coin.png");
    -fx-border-color: transparent;
    -fx-background-size: stretch;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.money:hover {
    -fx-effect: dropshadow(gaussian, #f2e0d6, 20, 0.3, 0, 0);
    -fx-cursor: hand;
}

.slave {
    -fx-background-image: url("../images/icons/servant.png");
    -fx-border-color: transparent;
    -fx-background-size: stretch;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.slave:hover {
    -fx-effect: dropshadow(gaussian, #f2e0d6, 20, 0.3, 0, 0);
    -fx-cursor: hand;
}

.stone {
    -fx-background-image: url("../images/icons/stone.png");
    -fx-border-color: transparent;
    -fx-background-size: stretch;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.stone:hover {
    -fx-effect: dropshadow(gaussian, #f2e0d6, 20, 0.3, 0, 0);
    -fx-cursor: hand;
}

.shield {
    -fx-background-image: url("../images/icons/shield.png");
    -fx-border-color: transparent;
    -fx-background-size: stretch;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.shield:hover {
    -fx-effect: dropshadow(gaussian, #f2e0d6, 20, 0.3, 0, 0);
    -fx-cursor: hand;
}

.uno {
    -fx-background-image: url("../images/buttons/1.png");
    -fx-border-color: transparent;
    -fx-background-size: stretch;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.uno:hover {
    -fx-effect: dropshadow(gaussian, #f2e0d6, 20, 0.3, 0, 0);
    -fx-cursor: hand;
}

.due {
    -fx-background-image: url("../images/buttons/2.png");
    -fx-border-color: transparent;
    -fx-background-size: stretch;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.due:hover {
    -fx-effect: dropshadow(gaussian, #f2e0d6, 20, 0.3, 0, 0);
    -fx-cursor: hand;
}

.tre {
    -fx-background-image: url("../images/buttons/3.png");
    -fx-border-color: transparent;
    -fx-background-size: stretch;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.tre:hover {
    -fx-effect: dropshadow(gaussian, #f2e0d6, 20, 0.3, 0, 0);
    -fx-cursor: hand;
}