.mainPain {
    -fx-background-image: url("../images/backgrounds/tavern.png");
    -fx-background-size: stretch;
}


.boardPain {
    -fx-background-image: url("../images/backgrounds/playerBoard.png");
    -fx-background-size: stretch;
}

.take_marble {
    -fx-background-image: url("../images/buttons/activate.png");
    -fx-border-color: transparent;
    -fx-background-size: stretch;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.faithPathBox {
    -fx-background-image: url("../images/icons/croce.png");
    -fx-border-color: transparent;
    -fx-background-size: stretch;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}