.mainPain {
    -fx-background-image: url("../images/backgrounds/tavern.png");
    -fx-background-size: stretch;
}

.firstrow {
    -fx-background-image: url("../images/buttons/select.png");
    -fx-border-color: transparent;
    -fx-background-size: stretch;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.secondrow {
    -fx-background-image: url("../images/buttons/select.png");
    -fx-border-color: transparent;
    -fx-background-size: stretch;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.thirdrow {
    -fx-background-image: url("../images/buttons/select.png");
    -fx-border-color: transparent;
    -fx-background-size: stretch;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.firstcolumn {
    -fx-background-image: url("../images/buttons/select.png");
    -fx-border-color: transparent;
    -fx-background-size: stretch;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.secondcolumn {
    -fx-background-image: url("../images/buttons/select.png");
    -fx-border-color: transparent;
    -fx-background-size: stretch;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.thirdcolumn {
    -fx-background-image: url("../images/buttons/select.png");
    -fx-border-color: transparent;
    -fx-background-size: stretch;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.fourthcolumn {
    -fx-background-image: url("../images/buttons/select.png");
    -fx-border-color: transparent;
    -fx-background-size: stretch;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}